APP_PORT=3000
APP_HOST=localhost


JWT_ACCESS_SECRET="edfwevgabfaszv345"
JWT_ACCESS_EXPIRES_IN=3600
JWT_REFRESH_SECRET="wsdq3udhe1scaso"
JWT_REFRESH_EXPIRES_IN=86400


POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB="project-nest_js"

REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_PORT=6379